# Transforamtion des données 

transformation des données suivant nos décision .... bla bla bla bla bla bla bla bla

## Chargement des données

In [2]:
import os
import pandas as pd

DATA_ROOT = "./Data/"
# load data with path file on a dataframe 
def load_data(file_name:str,data_folder_path=DATA_ROOT):
    data_path = os.path.join(data_folder_path, file_name)
    if not os.path.isfile(data_path):
        print("error file not found :",data_path)
        df= pd.DataFrame()
    else :
        df = pd.read_csv(data_path)
    return df

In [4]:
data_merge = load_data("DataMerge_sensible.csv")
data_merge = data_merge.drop("Unnamed: 0",axis=1)
data_merge.head()

,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,...,PercentSalaryHike,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,JobInvolvement,PerformanceRating,MeanWorkingTime
0,3.0,4.0,2.0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,...,11,0,1.0,6,1,0,0,3,3,7.373651
1,3.0,2.0,4.0,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,...,23,1,6.0,3,5,1,4,2,4,7.718969
2,2.0,2.0,1.0,32,0,Travel_Frequently,Research & Development,17,4,Other,...,15,3,5.0,2,5,0,3,3,3,7.013240
3,4.0,4.0,3.0,38,0,Non-Travel,Research & Development,2,5,Life Sciences,...,11,3,13.0,5,8,7,5,2,3,7.193678
4,4.0,1.0,3.0,32,0,Travel_Rarely,Research & Development,10,1,Medical,...,12,2,9.0,2,6,0,4,3,3,8.006175